_You have an N-element tuple or sequence that you would like to unpack into a collection
of N variables._

In [1]:
p=(4,5)

In [2]:
type(p)

tuple

In [3]:
x,y=p

In [4]:
x

4

In [6]:
y
type(y)

int

# alert:
Any sequence (or iterable(ex:tuple)) can be unpacked into variables using a simple assignment
operation. The only requirement is that the~ number of variables and structure match
the sequence~

In [14]:
data = [ 'rafik', 50, 91.1, (1996, 1, 3) ]
data
type(data[3])
type(data[0])
type(data[2])

float

In [15]:
names,rollno,prices,date=data

In [20]:
names
type(names)

str

In [21]:
rollno
type(rollno)

int

In [22]:
prices
type(prices)

float

In [23]:
date
type(date)

tuple

In [24]:
year,month,day=date

In [25]:
year

1996

In [26]:
month

1

If there is a mismatch in the number of elements, you’ll get an error. For example:

In [27]:
x,y,z=p

ValueError: not enough values to unpack (expected 3, got 2)

Unpacking actually works with any object that happens to be iterable, not just tuples or
lists. This includes strings, files, iterators, and generators.

In [40]:
s = 'Hello'
type(s)

str

In [49]:
a,b,c,d,=s

ValueError: too many values to unpack (expected 4)

In [42]:
type(a)

str

In [43]:
e

'o'

In [44]:
data1=['rafik',30,80,(1996,1,3)]

In [45]:
_,_,_,date=data1

In [46]:
_

80

In [47]:
_

80

In [48]:
date

(1996, 1, 3)

### 2. You need to unpack N elements from an iterable, but the iterable may be longer than N  elements, causing a “too many values to unpack” exception

In [53]:
def drop_first_last(grades):
    first, *middle, last = grades
    return (middle)

In [54]:
grades=[10,20,39,30,49,49,59,90]
drop_first_last(grades)

[20, 39, 30, 49, 49, 59]

In [55]:
record = ('Dave', 'dave@example.com', '773-555-1212', '847-555-1212')

In [56]:
name, email, *phone_numbers = record

In [57]:
names

'rafik'

In [58]:
phone_numbers

['773-555-1212', '847-555-1212']

In [60]:
sales_record=[1,2,3,456,78,9]

In [61]:
*trailing_qtrs, current_qtr = sales_record
trailing_avg = sum(trailing_qtrs) / len(trailing_qtrs)
return avg_comparison(trailing_avg, current_qtr)

SyntaxError: 'return' outside function (<ipython-input-61-bf084ff0c025>, line 3)

In [62]:
records = [
 ('foo', 1, 2),
 ('bar', 'hello'),
 ('foo', 3, 4),
]

In [63]:
records

[('foo', 1, 2), ('bar', 'hello'), ('foo', 3, 4)]

In [64]:
def do_foo(x, y):
    print('foo', x, y)
def do_bar(s):
    print('bar', s)

In [65]:
for tag, *args in records:
    if tag == 'foo':
        do_foo(*args)
    elif tag == 'bar':
        do_bar(*args)

foo 1 2
bar hello
foo 3 4

In [66]:
line = 'nobody:*:-2:-2:Unprivileged User:/var/empty:/usr/bin/false'
uname, *fields, homedir, sh = line.split(':')

### keeping the last N items

In [1]:
from collections import deque

In [6]:
def search(lines, pattern, history=5):
    
    previous_lines = deque(maxlen=history)
    for line in lines:
        if pattern in line:

            yield line, previous_lines
        previous_lines.append(line)

In [7]:
if __name__ == '__main__':
     with open('sample3.txt') as f:
             for line, prevlines in search(f, 'python', 5):
                    for pline in prevlines:
                             print(pline, end='')

                    print(line, end='')
         
                    print('-'*20)

In [8]:
q = deque(maxlen=3)

In [9]:
q.append(1)
q.append(2)
q.append(3)
q

deque([1, 2, 3])

In [10]:
q.append(4)

In [11]:
q

deque([2, 3, 4])

In [12]:
q.append(5)

In [13]:
q

deque([3, 4, 5])

In [14]:
len(q)

3

Although you could manually perform such operations on a list (e.g., appending, de‐
leting, etc.), the queue solution is far more elegant and runs a lot faster.

___________________________________________
More generally, a deque can be used whenever you need a simple queue structure. If you don’t give it a maximum size, you get an unbounded queue that lets you append and pop items on either end. For example:

In [15]:
q=deque()

In [16]:
q.append(1)
q.append(2)
q.append(3)
q.append(4)

In [30]:
q

deque([10, 10, 10, 10, 1, 2, 3, 20, 20])

 q.appendleft(10)
q.append(20)

In [29]:
q

deque([10, 10, 10, 10, 1, 2, 3, 20, 20])

In [20]:
q.pop()

4

In [21]:
q.popleft()

10

In [22]:
q

deque([1, 2, 3])

#  Finding the Largest or Smallest N Items

The heapq module has two functions—nlargest() and nsmallest()—that do exactly

In [32]:
import heapq
nums = [1, 8, 2, 23, 7, -4, 18, 23, 42, 37, 2]
print(heapq.nlargest(3, nums)) # Prints [42, 37, 23]

[42, 37, 23]

In [33]:
print(heapq.nsmallest(3, nums)) # Prints [-4, 1, 2]

[-4, 1, 2]

In [34]:
portfolio = [
 {'name': 'IBM', 'shares': 100, 'price': 91.1},
 {'name': 'AAPL', 'shares': 50, 'price': 543.22},
 {'name': 'FB', 'shares': 200, 'price': 21.09},
 {'name': 'HPQ', 'shares': 35, 'price': 31.75},
 {'name': 'YHOO', 'shares': 45, 'price': 16.35},
 {'name': 'ACME', 'shares': 75, 'price': 115.65}

    
]

In [40]:
portfolio

[{'name': 'IBM', 'shares': 100, 'price': 91.1},
 {'name': 'AAPL', 'shares': 50, 'price': 543.22},
 {'name': 'FB', 'shares': 200, 'price': 21.09},
 {'name': 'HPQ', 'shares': 35, 'price': 31.75},
 {'name': 'YHOO', 'shares': 45, 'price': 16.35},
 {'name': 'ACME', 'shares': 75, 'price': 115.65}]

In [39]:
cheap = heapq.nsmallest(3, portfolio, key=lambda s: s['price'])
cheap

[{'name': 'YHOO', 'shares': 45, 'price': 16.35},
 {'name': 'FB', 'shares': 200, 'price': 21.09},
 {'name': 'HPQ', 'shares': 35, 'price': 31.75}]

In [41]:
expensive = heapq.nlargest(3, portfolio, key=lambda s: s['price'])
expensive

[{'name': 'AAPL', 'shares': 50, 'price': 543.22},
 {'name': 'ACME', 'shares': 75, 'price': 115.65},
 {'name': 'IBM', 'shares': 100, 'price': 91.1}]

In [ ]:
nums = [1, 8, 2, 23, 7, -4, 18, 23, 42, 37, 2]

In [42]:
heap=list(nums)

In [43]:
heapq.heapify(heap)

In [44]:
heap

[-4, 2, 1, 23, 7, 2, 18, 23, 42, 37, 8]

In [45]:
heapq.heappop(heap)

-4

In [46]:
heapq.heappop(heap)

1

In [47]:
heapq.heappop(heap)

2

In [49]:
max(heap)

42

In [50]:
min(heap)

2

#  Implementing a Priority Queue

In [51]:
class PriorityQueue:
    def __init__(self):
        self._queue=[]
        self._index=0
        
    def push(self,item,priority):
        heapq.heappush(self._queue,(-priority,self._index,item))
        self._index +=1
        
    def pop(self):
        return heapq.heappop(self._queue)[-1]

In [52]:


class Item:
    def __init__(self,name):
        self.name=name
        
    def ___repr__(self):
        return 'Item({!r})'.format(self.name)

In [63]:
q = PriorityQueue()

In [64]:
q.push(Item('foo'), 1)

In [65]:
q.push(Item('bar'), 5)

In [66]:
q.push(Item('spam'), 4)

In [67]:
q.push(Item('grok'), 1)

In [68]:
q.pop()